@media only screen and (max-width: 480px) {
  .header-fixed-container {
    width: 100%;
  }
  #content {
    padding: 0 5px;
  }
  .category-cards {
    padding: 0 5px;
  }
  .ticker__page--fixed {
    width: 100%;
  }
  .swiper-slide {
    max-height: 120px;
  }
  .content-padding {
    padding: 0 5px;
  }
  .news-card-image {
    height: 150px;
  }
  .search-queries {
    align-items: flex-start;
    padding-left: 10px;
  }
  .search-queries button {
    background: 0;
    padding: 0;
    text-align: left;
    border: 0;
  }
  .contact-input--date {
    padding-right: 75px;
  }
  .contact-input {
    width: 70%;
  }
  .contact-form-submit {
    padding-left: 10px;
  }
  .contact-image-upload {
    border: 1px solid;
  }
  .contact-label {
    min-width: 150px;
    font-size: 11px;
  }

  .contact-error {
    font-size: 10px;
    top: 12px;
  }
  .grid {
    margin-bottom: 20px;
  }
  .news-card__image {
    width: 100%;
    height: auto;
  }

  .pagination-item.first {
    transform: translateX(-100px);
  }

  .pagination-item.prev {
    transform: translateX(-60px);
  }

  .pagination-item.current {
    transform: translateX(-20px);
  }

  .pagination-item.next {
    transform: translateX(20px);
  }

  .pagination-item.last {
    transform: translateX(60px);
  }
  .model__name {
    font-size: 32px;
  }
  .model__main-container {
    font-size: 16px;
  }
  .logo {
    height: 60px;
  }
}

@media only screen and (min-width: 480px) {
  .header-fixed-container {
    width: 80%;
  }
  .model__main {
    margin-bottom: 25px;
  }
  div.ticker__page--fixed {
    width: 80%;
  }

  .layout-main {
    width: 80%;
    max-width: 1366px;
  }
  .model {
    margin-top: 50px;
  }
  .search-queries {
    width: 50%;
  }
  .search-queries button {
    background: 0;
    padding: 0;
    text-align: left;
    border: 0;
  }
  .contact-input {
    max-width: 650px;
    width: 100%;
  }
  .contact-label {
    display: flex;
    align-items: flex-end;
    min-width: 150px;
    font-weight: bold;
  }
  .contact-image-upload--image {
    margin-bottom: 0;
    max-height: 100%;
    object-fit: contain;
  }
  .contact-image-upload {
    border: 1px solid;
  }
  .contact-image-upload:first-child {
    margin: 0;
    margin-right: 5px;
  }
  .contact-image-upload:nth-child(4) {
    margin: 0;
    margin-left: 5px;
  }
  .contact-image-upload input {
    border: 0;
  }
  /* .header__menu--desktop {
    display: flex;
  } */

  .model {
    margin-top: 50px;
  }
  .model-name {
    position: relative;
  }
  .pagination-item.first {
    transform: translateX(-80px);
  }

  .pagination-item.prev {
    transform: translateX(-40px);
  }

  .pagination-item.current {
    transform: translateX(0);
  }

  .pagination-item.next {
    transform: translateX(40px);
  }

  .pagination-item.last {
    transform: translateX(80px);
  }

  .model__main-container {
    width: 33%;
  }
  .category-card > div {
    padding-bottom: 130% !important;
  }
  .category-card:first-child {
    margin-left: 0;
  }
  .category-card:nth-child(4n + 0) {
    margin-right: 0;
  }

  .category-card:nth-child(4n + 1) {
    margin-left: 0;
  }
  .logo {
    height: 75px;
  }
}
.contact-body-text {
  width: 60%;
}

@media only screen and (max-width: 767px) {
  .grid-col {
    width: calc(50% - 2.5px);
  }
  #content .grid-col--1 {
    margin-right: 2.5px;
    margin-left: 0;
  }
  #content .grid-col--2 {
    margin-right: 0;
    margin-left: 2.5px;
  }
}

@media only screen and (max-width: 850px) {
  .contact-body-text {
    width: 100%;
  }
  .swiper-slide {
    max-height: 200px;
  }
  .model__name {
    margin-bottom: 5px;
  }
  .model {
    margin-top: 25px;
  }
  .model__main-container {
    width: 100%;
  }
  div.model__bio {
    margin-top: 5px;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  div.model__bio span {
    margin-right: 10px;
    text-transform: uppercase;
  }

  .model__main {
    max-height: none;
    flex-direction: column-reverse;
  }
  .model__main--image {
    justify-content: center;
  }
  .model__menu {
    margin: 5px 0;
    justify-content: flex-start;
    flex-direction: row;
  }
  .model__menu a {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .contact-error {
    font-size: 12px;
  }
  .contact-input--date {
    padding-right: 66px;
  }

  div.contact-image-upload {
    height: 250px;
    width: calc(50% - 5px);
    margin: 0;
  }
  .contact-image-upload:first-child {
    margin-right: 5px;
  }
  .contact-image-upload:nth-child(2) {
    margin-left: 5px;
  }
  .contact-image-upload:nth-child(3) {
    margin-right: 5px;
  }
  .contact-image-upload:nth-child(4) {
    margin-left: 5px;
  }
  .category-card {
    text-decoration: none;
    width: calc(50% - 2.5px);
    margin: 2.5px 0;
  }
  .category-card:first-child {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2) {
    margin-left: 2.5px;
  }
  .category-card:nth-child(2n + 1) {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2n + 2) {
    margin-left: 2.5px;
  }
  .category-card h3 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .category-search--desktop {
    display: none;
  }
}

@media only screen and (min-width: 851px) {
  .model__menu {
    flex-direction: column;
  }
  .model__main--image {
    padding-left: 15%;
  }
  .swiper-slide {
    max-height: 300px;
  }
  .model__main-container {
    max-width: 300px;
    font-size: 20px;
  }
  .model-bio-property {
    font-size: 16px;
  }
  .model-bio-value {
    font-size: 21px;
  }
  .category-card-title {
    line-height: 0.8;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .contact-input--date {
    padding-right: 100px;
  }
  .contact-image-upload {
    width: calc(25% - 10px);
  }
  .contact-image-upload:nth-child(2) {
    margin-right: 5px;
    margin-left: 5px;
  }
  .contact-image-upload:nth-child(3) {
    margin-right: 5px;
    margin-left: 5px;
  }
  .contact-image-upload:first-child {
    margin-right: 10px;
  }
  .contact-image-upload:nth-child(4) {
    margin-left: 10px;
  }
  .category-card {
    text-decoration: none;
    width: calc(25% - 4px);
    margin: 2.5px 0;
  }
  .category-card:first-child {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4) {
    margin-left: 2.5px;
    margin-right: 0;
  }
  .category-card:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4n + 2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4n + 3) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4n) {
    margin-left: 2.5px;
  }
  .category-search--mobile {
    display: none;
  }
  .logo {
    height: 80px;
  }
}

@media only screen and (max-width: 1079px) and (min-width: 768px) {
  .grid-col {
    width: calc(33% - 5px);
  }
  #content .grid-col--1 {
    margin-right: 2.5px;
  }
  #content .grid-col--2 {
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
  #content .grid-col--3 {
    margin-left: 2.5px;
  }
  .contact-image-upload {
    height: calc(500px - 20vh);
    width: calc(25% - 7.5px);
  }
  .category-card {
    text-decoration: none;
    width: calc(33% - 1.5px);
    margin: 2.5px 0;
  }
  .category-card:first-child {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3n + 2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3n + 3) {
    margin-left: 2.5px;
  }
  .category-card:nth-child(3n) {
    margin-left: 2.5px;
    margin-right: 0;
  }
  .logo {
    height: 90px;
  }
}

@media only screen and (min-width: 1079px) {
  #content .grid-col {
    width: calc(25% - 5px);
  }
  .grid-col {
    width: 25%;
  }
  .swiper-slide {
    max-height: 500px;
  }
  .news-card-title {
    font-size: 20px;
  }
  #content .grid-col--1 {
    margin-right: 2.5px;
  }
  #content .grid-col--2 {
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
  #content .grid-col--3 {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  #content .grid-col--4 {
    margin-left: 2.5px;
  }
  .contact-image-upload {
    height: calc(600px - 20vh);
    width: calc(25% - 7.5px);
  }
  .logo {
    height: 100px;
  }
}

.mobile-navigation {
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 5px 0;
}
.mobile-navigation div {
  font-weight: 700 !important;
}

.mobile-navigation div,
.mobile-navigation a {
  font-size: 28px !important;
  color: #222;
  font-weight: 400;
}
.mobile-navigation a[aria-current="page"] {
  font-weight: 700;
}

.mobile-navigation--child a {
  font-size: 20px !important;
  line-height: 0.7;
}

.contact-input {
  font-weight: 700;
}
.contact-input--date {
  text-transform: inherit;
}
.contact-error {
  color: red;
  position: absolute;
  right: 0px;
  top: 9px;
  font-weight: 700;
}
.contact-input--country-code {
  width: 50px;
}
.contact-input--mobile {
  width: 100%;
}
.contact-button-submit:hover {
  color: #ccc;
}
.contact-image-upload {
  border: 1px solid lightgrey;
}
.contact-form-submit-label:hover {
  color: #ccc;
  cursor: pointer;
}
.contact-image-upload--span:hover {
  color: #ccc;
  cursor: pointer;
  z-index: 99;
}
.ticker__page {
  position: fixed;
  z-index: 99;
  background: white;
  width: 80%;
  max-width: 1366px;
}
.ticker__menu {
  background: white;
}
.contact-input--date::-webkit-input-placeholder {
  font-weight: 700;
  color: black;
}
.contact-input--date::-moz-placeholder {
  font-weight: 700;
  color: black;
}
.contact-input--date::-ms-input-placeholder {
  font-weight: 700;
  color: black;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.contact-image-upload {
  margin: 0 5px;
}

.ticker {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-left: 0;
  box-sizing: content-box;
}

#tickerwrap {
  display: flex;
  width: 100%;
  overflow: hidden;
  color: black;
  padding-left: 100%;
}

.ticker__page #tickerwrap {
  padding-right: 100%;
  padding-left: 0;
}

#ticker {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customticker;
  animation-name: customticker;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}

#ticker2 {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customtickerTwo;
  animation-name: customtickerTwo;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}

#tickerReverse {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customtickerReverse;
  animation-name: customtickerReverse;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}
#ticker2Reverse {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customtickerReverse;
  animation-name: customtickerReverse;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}

@keyframes customticker {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes customtickerTwo {
  0% {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes customtickerReverse {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }
}

header a {
  color: #222;
}

header a[aria-current="page"] {
  font-weight: bold;
}

header div.active,
header a.active {
  font-weight: bold;
}

header .flex > :first-child {
  padding-left: 0 !important;
}

.up-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.navigation-item {
  border: 0;
  background: 0;
}

.pagination-item {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  position: absolute;
}

.news-card {
  text-decoration: none;
  margin: 0 2.5px;
}

.news-card-title {
  line-height: 0.9;
  margin-top: 2px;
}

/* with flexbox */
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

div.ticker__page--fixed {
  z-index: 9999;
  background: white;
}

/* 2 columns by default, hide columns 3 & 4 */
.grid-col--3,
.grid-col--4 {
  display: none;
}

/* 3 columns at medium size */
@media (min-width: 768px) {
  .grid-col--3 {
    display: block;
  } /* show column 2 */
}

/* 4 columns at large size */
@media (min-width: 1080px) {
  .grid-col--4 {
    display: block;
  } /* show column 3 */
}

.model-portfolio-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: top;
}

.model-portfolio-image:hover {
  cursor: pointer;
}

.gatsby-image-wrapper > div {
  padding-bottom: 145% !important;
}

.category-cards {
}

.category-card-title {
  margin-bottom: 0;
  color: black;
  line-height: 0.8;
}

.category-card-image {
  max-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.width-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 700;
  src: url("../fonts/HelveticaNeueHeavy.woff") format("woff");
  src: url("../fonts/HelveticaNeueHeavy.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  src: url("../fonts/HelveticaNeue-Light.woff") format("woff");
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
}

html {
  font-family: "HelveticaNeue";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.overlay {
  height: 100vh;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

input {
  border: 0;
  height: 35px;
  border-bottom: 1px solid;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  /* -webkit-appearance: button; */
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "HelveticaNeue";
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeue";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: "HelveticaNeue";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 3.2rem;
  line-height: 0.8;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeue";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeue";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeue";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeue";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "HelveticaNeue";
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
