/* MAIN CSS */
.category-card {
  position: relative;
  overflow: hidden;
  transition: 500ms linear;
}
.loadingContainer > img {
  max-width: 250px;
}
a.search-result-names {
  text-transform: capitalize;
}
.contact-input::placeholder {
  line-height: 2;
}
#main {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  width: 50%;
  height: auto;
  max-width: 300px;
  display: block;
  position: relative;
}
.category-search {
  align-self: flex-end;
}
.getToTop {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}
.tickerText {
  margin: 0 2.5px;
  display: block;
}
.category-card h3 {
  font-size: 6.8vw;
}
.masonry-with-columns {
  columns: 2 auto;
}
.news-ticker-address {
  padding: 5px 0;
  margin-top: 50px;
}
.pagination-item.current {
  color: rgb(204, 204, 204);
}
.ticker__page--fixed {
  width: 100%;
}
.content-padding {
  padding: 0 5px;
}
.news-card-image {
  height: 150px;
}
.search-queries {
  align-items: flex-start;
}
.search-queries button {
  background: 0;
  padding: 0;
  text-align: left;
  border: 0;
}
.search-queries__back {
  position: absolute;
  right: 10px;
  font-size: 20px;
}
.contact-input--date {
  padding-right: 75px;
}
.contact-input {
  width: 70%;
}
.contact-form-submit {
  padding-left: 10px;
}
.contact-label {
  min-width: 150px;
  font-size: 22px;
  position: relative;
}

.contact-error {
  font-size: 14px;
  top: 0px;
}

.news-card-title {
  max-width: 100%;
}
.loading-logo {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: loadingLogo;
  animation-name: loadingLogo;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@media only screen and (max-width: 479px) {
  .loadingContainer {
    width: 100%;
  }
  .loadingContainer > img {
    max-width: 175px;
  }
  .model__name {
    font-size: 13vw;
    margin-bottom: -5px;
  }
  .contact-label {
    bottom: -10px;
  }
  .search-queries {
    padding: 0 10px;
    padding-top: 20px;
  }
  div.model__bio span {
    font-size: 6.7vw;
  }
  .model-bio-property {
    font-size: 4.5vw !important;
  }
}

@media only screen and (min-width: 480px) {
  .news-card-title {
    margin-bottom: -7px;
  }
  .loadingContainer {
    width: 80%;
  }
  .news-ticker-address {
    padding: 5px;
    margin-top: 100px;
  }
  div.ticker__page--fixed {
    width: 100%;
  }
  .search-queries {
    width: 50%;
    font-size: 20px;
  }
  .search-queries button {
    background: 0;
    padding: 0;
    text-align: left;
    border: 0;
  }
  .contact-input {
    max-width: 650px;
    width: 100%;
  }
  .contact-input--year {
    max-width: none;
    width: 550px;
  }
  .contact-input--day {
    max-width: 50px;
  }
  .contact-label {
    display: flex;
    align-items: flex-end;
    min-width: 150px;
    font-weight: bold;
  }
  .contact-image-upload--image {
    margin-bottom: 0;
    max-height: 100%;
    object-fit: contain;
  }
  .contact-image-upload input {
    border: 0;
  }
  .model-name {
    position: relative;
  }

  .news-ticker-address #tickerwrap {
    color: rgb(104, 103, 104) !important;
  }

  .category-card:first-child {
    margin-left: 0;
  }
  .category-card:nth-child(4n + 0) {
    margin-right: 0;
  }
  .category-card:nth-child(4n + 1) {
    margin-left: 0;
  }
  .model__name {
    font-size: 4rem;
    margin-bottom: -8px;
  }
}
.contact-body-text {
  width: 60%;
}

@media only screen and (min-width: 767px) {
  h3.category-card-title {
    font-size: 3.7vw;
  }
}

@media only screen and (max-width: 850px) {
  .contact-body-text {
    width: 100%;
  }
  .model__main-container {
    width: 100%;
  }
  div.model__bio {
    margin-top: 5px;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  div.model__bio span {
    margin-right: 10px;
    text-transform: uppercase;
    width: 100%;
    font-size: 6vw;
  }

  .model__main {
    max-height: none;
    flex-direction: column-reverse;
  }
  .model__main--image {
    justify-content: center;
  }
  .model__menu {
    margin-bottom: 5px;
    justify-content: flex-start;
    flex-direction: row;
  }
  .model__menu a {
    margin: 0 2.5px;
    font-size: 6.7vw;
    display: flex;
    justify-content: center;
  }
  .model__menu > a:first-child {
    margin-left: 0;
  }
  .model__menu > a:last-child {
    margin-right: 10px;
  }
  .contact-input--date {
    padding-right: 66px;
  }
  .category-card {
    text-decoration: none;
    width: calc(50% - 2.5px);
    margin: 2.5px 0;
  }
  .category-card:first-child {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2) {
    margin-left: 2.5px;
  }
  .category-card:nth-child(2n + 1) {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2n + 2) {
    margin-left: 2.5px;
  }
  .category-card h3 {
    margin-bottom: 15px;
  }
  .category-search--desktop {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  h3.category-card-title {
    font-size: 3.7vw;
  }
}

@media only screen and (min-width: 851px) {
  .model__menu {
    flex-direction: column;
    top: 28px;
    font-family: "helveticaNeueCondensed";
    font-size: 2.5rem;
  }
  .contact-error {
    font-size: 18px;
  }
  .container {
    margin: 50px 200px;
  }
  div.model__main-container {
    position: absolute;
  }
  .masonry-with-columns {
    columns: 4 auto;
  }
  .swiper-slide {
    max-height: 300px;
  }
  .model__main-container {
    min-width: 200px;
    font-size: 20px;
    padding-left: 2px;
  }
  .model__name {
    font-size: 5.4rem;
    margin-bottom: -8px;
  }
  .model-bio-property,
  .model-bio-value {
    font-size: 2.5rem;
    line-height: 1;
  }
  .contact-input--date {
    padding-right: 100px;
  }
  .category-card {
    text-decoration: none;
    width: calc(25% - 4px);
    margin: 2.5px 0;
  }
  .category-card:first-child {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4) {
    margin-left: 2.5px;
    margin-right: 0;
  }
  .category-card:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4n + 2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4n + 3) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(4n) {
    margin-left: 2.5px;
  }
  .category-search--mobile {
    display: none;
  }
}

@media only screen and (max-width: 1079px) and (min-width: 768px) {
  .masonry-with-columns {
    columns: 3 auto;
    column-gap: 5px;
  }
  .swiper-container {
    max-width: 80vw;
  }
  .category-card {
    text-decoration: none;
    width: calc(33% - 1.5px);
    margin: 2.5px 0;
  }
  .category-card:first-child {
    margin-right: 2.5px;
  }
  .category-card:nth-child(2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3n + 2) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .category-card:nth-child(3n + 3) {
    margin-left: 2.5px;
  }
  .category-card:nth-child(3n) {
    margin-left: 2.5px;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1080px) {
  h3.category-card-title {
    font-size: 2.8vw;
  }
  .swiper-slide {
    max-height: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  h3.category-card-title {
    font-size: 2.5rem;
  }
}

.home-video {
  pointer-events: none;
}

.search-overlay::-webkit-scrollbar {
  display: none;
}

.search-overlay {
  overflow: hidden;
  scrollbar-width: none;
  position: fixed;
  z-index: 999999;
  background: white;
  padding-bottom: 200;
  max-width: 1440;
  height: 100%;
}

.mobile-navigation--child a {
  line-height: 0.7;
}

.model-swiper-slide {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  max-height: 760px;
}

.swiper-container {
  max-width: 95vw;
  width: 100%;
}
/* .model-swiper-slide > img {
  height: auto !important;
  width: auto !important;

  object-fit: contain;
} */

.model-slider-navigate.next {
  cursor: url("../images/rightArrow.png"), auto;
}

.model-slider-navigate.prev {
  cursor: url("../images/leftArrow.png"), auto;
}

.masonry-with-columns {
  column-gap: 5px;
}

.model-bio-property,
.model-bio-value {
  font-family: "HelveticaNeueCondensed";
  line-height: 0.8;
}

.model-bio-property {
  color: white;
  font-size: 2rem;
}

.model-bio-value {
  color: black;
}

.model-portfolio-image--swiper {
  object-fit: contain;
  width: auto;
  -o-object-position: top;
  object-position: top;
  height: auto;
}

.swiper-slide {
  transition: transform 0.2s;
}

.swiper-slide:hover {
  transform: scale(1.2);
  z-index: 99;
}
.contact-input {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  font-size: 22px;
}
.contact-input--date {
  text-transform: inherit;
}

.contact-error {
  color: red;
  position: absolute;
  right: 0px;
  font-weight: 700;
}
.contact-input--country-code {
  width: 50px;
}
.contact-input--mobile {
  width: 100%;
}
.contact-input--mobile::placeholder,
.contact-input--country-code::placeholder {
  opacity: 0.2;
}
.contact-button-submit:hover {
  color: #ccc;
}
.contact-image-upload {
  border: 1px solid lightgrey;
}

.contact-form-submit-label {
  color: black;
  opacity: 0.2;
  -webkit-animation: fade 0.5s;
  -moz-animation: fade 0.5s;
  animation: fade 0.5s;
  -o-animation: fade 0.5s;

  animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes loadingLogo {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes loadingLogo {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingLogo {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes loadingLogo {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.contact-form-submit-label:hover {
  color: #ccc;
  cursor: pointer;
}
.contact-image-upload--span:hover {
  color: #ccc;
  cursor: pointer;
  z-index: 99;
}

.contact-input--date {
  font-weight: 700;
  opacity: 0.2;
  border-bottom: 0;
}
.contact-input--date::-webkit-input-placeholder {
  font-weight: 700;
  opacity: 0.2;
}
.contact-input--date::-moz-placeholder {
  font-weight: 700;
  opacity: 0.2;
}
.contact-input--date::-ms-input-placeholder {
  font-weight: 700;
  opacity: 0.2;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.news-bold-title {
  color: rgba(0, 0, 0, 1);
}

.ticker {
  position: relative;
  width: 100%;
  padding-left: 0;
  box-sizing: content-box;
}

#tickerwrap {
  font-size: 20px;
  display: flex;
  width: 100%;
  font-weight: 300;
  overflow: inherit;
  color: black;
  padding-left: 100%;
  -webkit-perspective: 1000;
}
#ticker {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-perspective: 1000;
}
.contact-image-upload {
  border: 0;
}

.search-result-names:hover {
  font-weight: 700;
}
.search-input-search:focus {
  outline: none;
}

.search-input-search::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.search-input-search::-moz-placeholder {
  color: black;
  opacity: 1;
}

.search-input-search::-ms-placeholder {
  color: black;
  opacity: 1;
}

.search-input-search::placeholder {
  color: black;
  opacity: 1;
}

#ticker {
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customticker;
  animation-name: customticker;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}

#ticker2 {
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customtickerTwo;
  animation-name: customtickerTwo;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}

#tickerReverse {
  white-space: nowrap;
  /* padding-right: 100%; */
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customtickerReverse;
  animation-name: customtickerReverse;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}
#ticker2Reverse {
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: customtickerReverse;
  animation-name: customtickerReverse;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
}

i:hover {
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 50px;
  width: 50px;
  top: 300px;
  right: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  position: absolute;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 50px;
  width: 50px;
  top: 300px;
  left: 200px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes customticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes customtickerTwo {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes customtickerReverse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

header a {
  color: #222;
}

header div.active,
header a.active {
  font-weight: bold;
  top: 2px;
  position: relative;
}

header .flex > :first-child {
  padding-left: 0 !important;
}

header div:hover {
  top: 0;
}

header .flex > a:first-child:hover {
  font-weight: 900;
  top: 2px;
  position: relative;
}

.up-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.pagination-item {
  font-weight: 700;
  padding: 0px;
  color: black;
  position: relative;
  text-decoration: none;
}

.news-card {
  text-decoration: none;
  margin: 0 2.5px;
}

div.ticker__page--fixed {
  z-index: 9999;
  background: white;
}

.model-portfolio-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: top;
}

.model-portfolio-image:hover {
  cursor: pointer;
}

.gatsby-image-wrapper > div {
  padding-bottom: 145% !important;
}

.category-card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.category-card > div > img,
.all-news-card > div > img {
  transition-duration: 200ms;
}

.category-card > div > img:hover,
.all-news-card > div > img:hover {
  transform: scale(1.2);
}

.width-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@font-face {
  font-family: "HelveticaNeueCondensed";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NeueHelveticaCondensedBold.woff") format("woff");
  src: url("../fonts/NeueHelveticaCondensedBold.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueHeavy";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/HelveticaNeue-Heavy.woff") format("woff");
  src: url("../fonts/HelveticaNeue-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueCondensed";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/HelveticaNeue-BlackCondensed.woff") format("woff");
  src: url("../fonts/HelveticaNeue-BlackCondensed.woff2") format("woff2");
}

html {
  font-family: "HelveticaNeueCondensed";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0px;
  font-weight: 300;
}
body {
  overflow: hidden;
  font-family: "HelveticaNeueCondensed";
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0px;
}
body.overlay {
  height: 100vh;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.black-font {
  color: black;
}

input {
  border: 0;
  height: 35px;
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  /* -webkit-appearance: button; */
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.2;
  line-height: normal;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-weight: lighter;
  letter-spacing: 0;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "HelveticaNeueCondensed";
  font-weight: lighter;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeueCondensed";
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  font-size: 5.4rem;
  letter-spacing: -2px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: "HelveticaNeueCondensed";
  font-weight: 900;
  text-rendering: optimizeLegibility;
  line-height: 0.8;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeueCondensed";
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1.7rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeueCondensed";
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeueCondensed";
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HelveticaNeueCondensed";
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2px;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "HelveticaNeueCondensed";
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
