.layout-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 0;
  margin-bottom: 0;
  justify-content: center;
  overflow: hidden;
}

.main {
  width: 100%;
  position: relative;
}

.header-fixed-container {
  width: 100%;
  position: relative;
  max-width: 1440;
  display: block;
  z-index: 999999;
  background: white;
}

.logo {
  margin: 5;
  margin-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  width: 100%;
  height: auto;
  max-width: 175px;
}
.logo:focus {
  outline: none;
}

.navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.navigation__container {
  cursor: pointer;
  z-index: 9999;
  height: 74;
}

.collapsing-ticker {
  text-decoration: none;
  position: absolute;
  width: 100%;
  margin-top: 5px;
  top: 73px;
}

.mobile-navigation {
  position: relative;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 0;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
}

.navigation-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.mobile-navigation > div {
  font-weight: inherit !important;
}

.mobile-navigation div,
.mobile-navigation a {
  color: #222;
  font-weight: 300;
}
.mobile-navigation a[aria-current="page"] {
  font-weight: 700;
}

.anchor-link {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.home-video {
  margin-bottom: 5px;
  background: black;
}

.home-news {
  margin-top: 5px;
  margin-bottom: 10px;
}

.home-instagram {
  margin-top: 5px;
  margin-bottom: 50px;
}

.instagram--link {
  text-transform: none;
  text-decoration: none;
}

.ticker__menu {
  font-weight: 700;
  background: white;
}

.ticker__menu--container {
  top: 3px;
}

.ticker__page {
  font-weight: 700;
  max-width: 1440px;
  position: relative;
  font-weight: 700;
  background: transparent;
}

.inside--ticker {
  margin-right: 5px;
}

.instagram--image {
  max-height: 400px;
  height: auto;
  object-fit: cover;
}

.news-comp--link {
  text-transform: none;
  text-decoration: none;
}

.news-comp--video {
  height: "auto";
  width: "auto";
}

.category-cards {
  margin-bottom: 75px;
  margin-top: 5px;
  padding: 0 5px;
}

.viz-aware {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.category-card-title {
  margin-top: -3px;
  line-height: 0.8;
  padding-top: 2px;
  padding-bottom: 25px;
  margin-bottom: 0;
  color: black;
  line-height: 0.8;
}
.last-name-model {
  top: 15px;
}

.model__main {
  position: relative;
  flex-direction: column-reverse;
}

.model__main-container {
  justify-content: space-between;
  z-index: 98;
  top: 2px;
  bottom: 7px;
  padding-bottom: 10;
  position: relative;
  font-size: 16px;
  right: 5px;
  left: 5px;
}

.model__menu {
  position: relative;
  z-index: 100;
  line-height: 0.9;
  font-family: HelveticaNeueCondensed;
}

.model-anchor-link {
  font-weight: bold;
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
}

.model-portfolio-image--swiper {
  padding: 10px 0;
  margin: 0;
}

.model-slider-navigate {
  position: absolute;
  bottom: 0;
  height: 68%;
  width: 50%;
  z-index: 99;
  max-height: 820px;
  top: 0;
}

.model-slider-navigate.prev {
  left: 0;
}
.model-slider-navigate.next {
  right: 0;
}

.model--about {
  color: rgb(204, 204, 204);
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  text-transform: none;
}

.grid-item {
  cursor: pointer;
  margin-bottom: 2;
  display: inline-block;
}

.loadingContainer {
  margin: auto;
  height: 100%;
  max-width: 1440px;
}

.loaderMain {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999999999;
  align-items: center;
  justify-content: center;
}

.loading-logo {
  margin: 5px;
  margin-left: 0;
  margin-bottom: 0;
  cursor: pointer;
  width: 100%;
  height: auto;
  position: relative;
}

.search-overlay {
  top: 137px;
  width: 100%;
  overflow: hidden;
}
.search-queries {
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
.search-input-search {
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}
.search-queries--results {
  margin-bottom: 150px;
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding: 20px 10px 350px 10px;
}
.search-queries--results--bold {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}
.search-result-names {
  text-decoration: none;
  color: black;
  line-height: 1.8;
}
.pagination {
  position: relative;
  height: 25px;
  justify-content: flex-end;
  width: 100%;
  padding-right: 0;
  font-size: 2.6rem;
  top: 6px;
}
.tickerReverse {
}

@media only screen and (min-width: 480px) {
  .layout-main {
    width: 80%;
    max-width: 1440px;
  }
  .logo {
    max-width: 250px;
  }
  .navigation__container {
    height: auto;
  }
  .collapsing-ticker {
    margin-top: 0;
  }
  .navigation-item {
    padding-top: 5px;
  }
  .header__menu--desktop {
    background: white;
    width: 100%;
    z-index: 999;
  }
  .instagram--image {
    height: 100%;
  }
  .news-comp--video {
    max-height: 400px;
    height: 400px;
  }
  .model__main {
    margin-top: 5px;
  }
  .model__main-container {
    padding-bottom: 25px;
    width: 33%;
  }
  .model-portfolio-image--swiper {
    padding: 30px 0;
  }
  .model-slider-navigate {
    height: 80%;
    bottom: 0;
    top: unset;
  }
  .search-overlay {
    top: 185px;
    width: 80%;
  }
  .search-queries {
    padding-top: 50px;
  }
  .search-queries--results {
    padding-bottom: 275px;
  }
  .pagination {
    top: 1px;
  }
}
